# Selecciona local para guardar en api/uploads o s3 para guardar en AWS S3.
STORAGE_DRIVER=local

# Define la region donde se creo el bucket de S3.
AWS_DEFAULT_REGION=us-east-1

# Define el nombre del bucket de S3.
AWS_S3_BUCKET=proyecto-inspira-imagenes

# Define la clave publica del usuario IAM.
AWS_ACCESS_KEY_ID=coloca_tu_access_key

# Define la clave secreta del usuario IAM.
AWS_SECRET_ACCESS_KEY=coloca_tu_secret_key

# Define una URL base opcional si se usa CloudFront o una URL publica personalizada.
AWS_S3_BASE_URL=
